<h1>Kontakt podaci</h1>

<div class="row">
      <div class="col-md-10">
        <h1 style="font-size:40px; font-weight:none; color:#696969;">Elektrotehnički fakultet, Univerzitet u Beogradu</h1>
        <p style="font-size:20px; font-weight:none; color:#696969;">
            tel: +381 11 3218389
        </p>
        <p style="font-size:20px; font-weight:none; color:#696969;">
            <a href="mailto:nenadko@etf.rs" target="_top"><h5>e-mail: nenadko@etf.rs</h5></a>
        </p>
      </div>    
</div>


<hr class="featurette-divider">
		
		
<div class="row">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7853443084036!2d20.474041715943557!3d44.80556307909861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a9f5ee145d3%3A0x3ed89b5bb505d83!2sSchool+of+Electrical+Engineering!5e0!3m2!1sen!2srs!4v1558202819174!5m2!1sen!2srs" width="1140" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>