<div class="row">
    <table class="table table-responsive-xl">
    <thead>
        <tr>
        <th scope="col" colspan="3" style="font-size: 25px;">Zaposlen info</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td rowspan="11" width="200">
                <img src="assets/images/contact.png" width="200"/>
            </td>
        </tr>

        <tr>
        <td>Ime</td>
        <td>{{zaposlen.ime}}</td>
        </tr>

        <tr>
        <td>Prezime</td>
        <td>{{zaposlen.prezime}}</td>
        </tr>

        <tr>
        <td>Zvanje</td>
        <td>{{zaposlen.zvanje}}</td>
        </tr>

        
        <tr>
        <td>Adresa</td>
        <td>{{zaposlen.adresa}}</td>
        </tr>

        <tr>
        <td>Broj kabineta</td>
        <td>{{zaposlen.brojKabineta}}</td>
        </tr>

        <tr>
        <td>Kontakt</td>
        <td>{{zaposlen.kontakt}}</td>
        </tr>

        <tr>
        <td>Email</td>
        <td>{{zaposlen.korime}}@etf.bg.ac.rs</td>
        </tr>

        <tr>
        <td>Biografija</td>
        <td>{{zaposlen.biografija}}</td>
        </tr>

        <tr>
        <td>Predmeti</td>
        <td>
            <span *ngFor='let predmet of zaposlen.predmeti'>
                {{predmet}};
            </span></td>
        </tr>

        <tr>
        <td>Personalni web sajt</td>
        <td>
            <div *ngIf="zaposlen.webAdresa; else nemaAdresu">
                {{zaposlen.webAdresa}}
            </div>
            <ng-template #nemaAdresu>
                Nema podataka.
            </ng-template>
        </td>
        </tr>

    </tbody>
    </table>
</div>
