<h1 align="center">Projekti</h1>

<div class="row mt-3">
    <table class="table  table-bordered table-striped table-hover table-responsive-xl">
    <thead>
        <tr>
            <th scope="col" colspan="2" style="font-size: 25px;">Softver za evidenciju maticnih knjiga (OpIS)</th>
        </tr>
    </thead>
    <tbody>
    
        <tr align="center">
            <td>
                Type of project
            </td>
            <td>
                Комерцијални пројекти са локалним управама
            </td>
        </tr>
        <tr align="center">
            <td>
                Head
            </td>
            <td>
                professor PhD Славко Гајин
            </td>
        </tr>
        <tr align="center">
            <td>
                Business Partner
            </td>
            <td>
                ГРАДСКА УПРАВА ВАЉЕВО
            </td>
        </tr>
        <tr align="center">
            <td>
                Beginning of realization
            </td>
            <td>
                2004-05-13
            </td>
        </tr>
    </tbody>
    </table>
</div>

<div class="row mt-3">
    <table class="table  table-bordered table-striped table-hover table-responsive-xl">
    <thead>
        <tr>
            <th scope="col" colspan="2" style="font-size: 25px;">Software engineering and new technologies in computing</th>
        </tr>
    </thead>
    <tbody>
    
        <tr align="center">
            <td>
                Type of project
            </td>
            <td>
                Пројекти-Развој високог образовања
            </td>
        </tr>
        <tr align="center">
            <td>
                Head
            </td>
            <td>
                asst. professor PhD Дражен Драшковић
            </td>
        </tr>
        <tr align="center">
            <td>
                Business Partner
            </td>
            <td>
                МИНИСТАРСТВО ПРОСВЕТЕ, НАУКЕ И ТЕХНОЛОШКОГ РАЗВОЈА
            </td>
        </tr>
        <tr align="center">
            <td>
                Beginning of realization
            </td>
            <td>
                2019-10-14
            </td>
        </tr>
    </tbody>
    </table>
</div>